# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres

# Database Host Port Mappings
CATALOG_DB_PORT=5433
ORDERING_DB_PORT=5434
INVENTORY_DB_PORT=5435
PAYMENT_DB_PORT=5436
CART_DB_PORT=5437
FULFILLMENT_DB_PORT=5438

# API Host Port Mappings
CATALOG_PORT=5001
ORDERING_PORT=5002
INVENTORY_PORT=5003
PAYMENT_PORT=5004
CART_PORT=5005
FULFILLMENT_PORT=5006
